.table-container {
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 100vh;        
}

table {
    border-collapse: collapse;
    width: 60%;             
    max-width: 1000px;      
    margin: 0 auto;          
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

thead {
  background-color: #f2f2f2;
}

.priceIncrease {
  color: green;
  font-weight: bold;
}

.priceDecrease {
  color: red;
  font-weight: bold;
}

.arrow {
  font-size: 12px;
  margin-left: 5px;
  color: black;
}

.arrowUp {
  color: black;
}

.arrowDown {
  color: black;
}

.bid-quantity {
  text-align: right;
}

.ask-quantity {
  text-align: left;
}

.quantity-bar {
  height: 100%;
  transition: wdith 0.5s ease;
  overflow: hidden;
  color: #000;
  display: inline-block;
  padding: 5px;
}

.bid-quantity .quantity-bar {
  background-color: #0277bd;
  transform-origin: right;
  color: white;
}

.ask-quantity .quantity-bar {
  background-color: #d32f2f;
  transform-origin: left;
  color: white;
}

.increase {
  animation: moveRight 0.5s forwards;
}

.decrease {
  animation: moveLeft 0.5s forwards;
}

@keyframes moveRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(5%);
  }
}


@keyframes moveLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-5%);
  }
}